h1 {
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  font-size: 1.2rem;
  display: block;
  margin: 0.4rem 0;
}

.form-group input {
  width: 100%;
}

.form-group textarea {
  width: 100%;
  resize: none;
}
