main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  width: 50%;
}

table {
  margin-bottom: 3rem;
  border: 1px solid black;
  border-collapse: collapse;
}

tr, th, td {
  border: 2px solid black;
}

td, th {
  padding: 0.5rem;
}

table thead {
  color: #fff;
  background-color: #425698;
}
