:root {
  font-size: 38px !important;
}

* {
  background-color: black !important;
  color: yellow;
}

a {
  color: yellow !important;
  text-decoration: underline !important;
}

nav.bg-light {
  background-color: black !important;
}

button,
nav li a.nav-link,
td,
th {
  color: yellow !important;
}

.hidden {
  display: block;
}

.row {
  flex-direction: column;
}

.col-lg-6,
.col-lg-8,
.col-lg-9 {
  max-width: 100%;
}

::placeholder,
.form-control {
  color: yellow !important;
}
