:root {
  font-size: 38px !important;
}

* {
  background-color: black !important;
  color: yellow;
}

a {
  color: yellow !important;
  text-decoration: underline !important;
}

nav.bg-light {
  background-color: black !important;
}

button,
nav li a.nav-link,
td,
th {
  color: yellow !important;
}
