@media print {
  nav {
    display: none;
  }

  footer {
    display: none;
  }

  img {
    width: 30%;
    height: auto;
  }

  video {
    display: none;
  }

  table {
    background-image: none;
  }

  td, caption {
    color: black;
  }
}
