* {
  font-family: Open-sans, sans-serif;
}

main {
  margin-bottom: 5rem;
}

.footer-list {
  list-style: none;
  padding: 0;

  li {
    padding: 0.2rem 0;
  }
}

.img-map {
  width: 500px;
  height: 100%;
}

.img-sightseeing {
  width: 500px;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #0135b0;
  text-decoration: underline;
}

a:visited {
  color: #0550ff;
}

table {
  background-image: url('../assets/imgs/shinkansen2.png');
  background-size: cover;
}

td, caption {
  color: white;
}

.welcome-text {
  margin-bottom: 5rem;
}

.nav-link {
  color: black !important;
}

li.active a {
  color: #790000 !important;
}

.bg-light {
  background-color: #c3e1ff!important;
}

.akadalymentes-logo {
  width: 2rem;
  height: auto;
}


nav a,
footer a {
  text-decoration: none;
}
